<div class="filter-popup-wrapper">
  <div class="btn btn-primary float-right" (click)="ShowHideButton()">Filter</div>
  <div appHideOnMouseLeave class="filter-popup-inner" #patientsfilterpopinner>
    <form action="">
      <div class="form-group gender-col">
        <label>Gender</label>
        <div class="fm-radio-inline">
          <label class="fm-radio">
            <input type="checkbox" [checked]="maleCheckBoxChecked" (change)="maleCheckBoxChecked = !maleCheckBoxChecked"> Male
            <span></span>
          </label>
          <label class="fm-radio">
              <input type="checkbox" [checked]="femaleCheckBoxChecked" (change)="femaleCheckBoxChecked = !femaleCheckBoxChecked"> Female
              <span></span>
          </label>
          <label class="fm-radio">
              <input type="checkbox" [checked]="thirdGenderCheckBoxChecked" (change)="thirdGenderCheckBoxChecked = !thirdGenderCheckBoxChecked"> Third Gender
            <span></span>
          </label>
        </div>
      </div>
      <div class="form-group age-col">
        <label>Age</label>
        <mv-slider data-slider-handle="square" data-slider-id="ex1Slider" [(value)]="value" [min]="1" [max]="100"
          [enabled]="enabled" (change)="change()"></mv-slider>
      </div>
      <div class="form-group dia-col">
        <label>Diagnostics</label>
        <ng-select [items]="people" [multiple]="true" bindLabel="name" [selectableGroup]="false" [closeOnSelect]="false"
          bindValue="id" [(ngModel)]="selectedPeople" [ngModelOptions]="{standalone: true}">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.gender | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="filter-footer">
        <div class="btn btn-secondary" (click)="onCancelClick()">Cancel</div>
        <div class="btn btn-success" (click)="onApplyClick()">Apply</div>
      </div>
    </form>
  </div>
</div>