.profile-main-content-wrap {
  padding: 20px;
  background: #fff;
  .pp-sec {
    width: 120px;
    float: left;
  }
  .pp-details {
    float: left;
    margin-top: 25px;
    label {
      float: left;
      color: #98a6ad;
    }
    .label-desc {
      float: left;
      margin-left: 10px;
      font-size: 16px;
      margin-top: -3px;
      color: #343a40;
    }
  }

  .prescription-table {
    margin: 10px 0px;
    height: calc(100% - 100px);
  
    th {
      background: #fafbfc;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      padding: 10px 8px;
      font-size: 13px;
      font-weight: 700;
    }
  
    td {
      font-size: 13px;
      color: #696666;
      width: 16%;
    }
  
    tr {
      width: 100%;
      // display: inline-block;
    }
  
    thead,
    tbody {
      // display: block;
  
      th,
      td {
        &:nth-child(1) {
          width: 80px;
        }
        &:nth-child(2) {
          width: 30%;
        }
  
        &:nth-child(3) {
          width: 100px;
        }
  
        &:nth-child(4) {
          width: 15%;
        }
  
        &:nth-child(5) {
          width: 100px;
        }
  
        &:nth-child(6) {
          width: 100px;
        }
  
        &:nth-child(7) {
          width: 100px;
        }
  
        &:nth-child(8) {
          width: 20%;
        }
        &:nth-child(9) {
          width: 80px;
        }
      }
      td {
        &:nth-child(1) {
          padding-top: 20px;
        }
      }
    }
  
    tbody {
      height: calc(100% - 38px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .prescription-pdf-view {
    img{
      width: 100%;
    }
  }
  .pres-h {
    margin-bottom: 10px;
    .p-cal {
      height: 36px;
      float: left;
      label{
        margin-right: 10px;
      }
    }
    .p-p-select {
      float: left;
      margin:0px 10px;
    }
    .p-t-h {
      margin: 15px 0px;
    }
  }
  .pres-type-table {
    margin: 10px 0px 70px 0px;
  }
.pre-t-input {
  height: 34px;
  width: 43px;
  padding: 5px;
  outline: none;
  border: 1px solid #ddd;
}
  .pre-t-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    
    overflow: hidden;
    position: relative;
  }

  .mg-select {
    width:80px;
    select{
      width:80px;
    }
  }
  .food-select {
    width:130px;
    select{
      width:130px;
    }
  }

  select:focus { outline: none; }
  .pre-t-select select {
    height: 32px;
    padding: 5px 0 5px 8px;
    background: #fff;
    border: none;
    
    /*hide default down arrow in webkit */
    -webkit-appearance: none; 
  }
  
  @-moz-document url-prefix(){
    .pre-t-select select { width: 110%; }
  }
  
  .fa-sort-desc {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
  }
  
   select::-ms-expand { display: none; } /* hide default down arrow in IE10*/
  
  /* hack to fall back in opera */
  _:-o-prefocus, .selector {
    .styled-select { background: none; }
  }
    
}
