mat-card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #4e1674;
  background: -moz-linear-gradient(top, #4e1674 0%, #241d62 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4e1674), color-stop(100%, #241d62));
  background: -webkit-linear-gradient(top, #4e1674 0%, #241d62 100%);
  background: -o-linear-gradient(top, #4e1674 0%, #241d62 100%);
  background: -ms-linear-gradient(top, #4e1674 0%, #241d62 100%);
  background: linear-gradient(to bottom, #4e1674 0%, #241d62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e1674', endColorstr='#241d62', GradientType=0 );
}
.signin-content {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url('src/assets/images/DOCTOR-PATIENT.jpg');
  background-position: bottom left;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
  }
}
.full-width-input {
  width: 100%;
  margin: 10px 0px;
}
.mat-input-element {
 color: #fff;
}
.login-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  font-size: 50px;
}
.login-logo-title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 20px 0;
}
.login-remember{
  padding-top: 5px;
  padding-bottom: 35px;
}
.login-btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-btn {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.forget-password {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;

}