<p-accordion>
  <p-accordionTab header="Date: 15-12-2019" class="clearfix">
    <div class="clearfix">
      <ul class="imr-list-item" >
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
      </ul>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Date: 24-12-2019" class="clearfix">
    <div class="clearfix">
      <ul class="imr-list-item" >
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
      </ul>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Date: 31-12-2019" class="clearfix">
    <div class="clearfix">
      <ul class="imr-list-item" >
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/x-ray.jpg" alt=""><span>X-RAY</span></li>
        <li><img src="/assets/images/blank-prescription-1.jpg" alt=""><span>X-RAY</span></li>
      </ul>
    </div>
  </p-accordionTab>
</p-accordion>