<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> All Patient</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item">Patient</li>
                <li class="breadcrumb-item active">All Patient</li>
            </ul>
        </div>            
        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="bh_chart hidden-xs">
                <div class="float-left m-r-15">
                    <small>Visitors</small>
                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                </div>
                <span class="bh_visitors float-right"><canvas width="47" height="42" style="display: inline-block; width: 47px; height: 42px; vertical-align: top;"></canvas></span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Visits</small>
                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                </div>
                <span class="bh_visits float-right"><canvas width="41" height="42" style="display: inline-block; width: 41px; height: 42px; vertical-align: top;"></canvas></span>
            </div>                       
        </div>
    </div>
</div>
<div class="inner-container">
  <div class="tab-content padding-0">
      <div class="tab-pane table-responsive active show patient-table" id="All">
          <table class="table m-b-0 table-hover">
              <thead class="thead-dark">
                  <tr>                                       
                      <th>Profile</th>
                      <th>Patients ID</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Address</th>
                      <th>Number</th>
                      <th>Last Visit</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00598</span></td>
                      <td>Daniel</td>
                      <td>32</td>
                      <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                      <td>404-447-6013</td>
                      <td>11 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00258</span></td>
                      <td>Alexander</td>
                      <td>22</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>15 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00369</span></td>
                      <td>Richard</td>
                      <td>26</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>16 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00147</span></td>
                      <td>Samuel</td>
                      <td>45</td>
                      <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                      <td>404-447-6013</td>
                      <td>17 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00123</span></td>
                      <td>Stephen</td>
                      <td>55</td>
                      <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                      <td>404-447-6013</td>
                      <td>18 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00456</span></td>
                      <td>Joseph</td>
                      <td>27</td>
                      <td>70 Bowman St. South Windsor, CT 06074</td>
                      <td>404-447-6013</td>
                      <td>19 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00789</span></td>
                      <td>Cameron</td>
                      <td>38</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>19 Jan 2018</td>
                      <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00987</span></td>
                      <td>Alex</td>
                      <td>39</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>20 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00951</span></td>
                      <td>James</td>
                      <td>32</td>
                      <td>44 Shirley Ave. West Chicago, IL 60185</td>
                      <td>404-447-6013</td>
                      <td>22 Jan 2018</td>
                      <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00953</span></td>
                      <td>charlie</td>
                      <td>51</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>22 Jan 2018</td>
                      <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00984</span></td>
                      <td>William</td>
                      <td>35</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>22 Jan 2018</td>
                      <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                  <tr>
                      <td><span class="list-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span></td>
                      <td><span class="list-name">KU 00934</span></td>
                      <td>Bing</td>
                      <td>26</td>
                      <td>123 6th St. Melbourne, FL 32904</td>
                      <td>404-447-6013</td>
                      <td>29 Jan 2018</td>
                      <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
              </tbody>
          </table>                            
      </div>
  </div>
</div>