:host {
  width: 100%;
  height: 100%;
  display: block;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.patients-table {
  margin: 10px 0px;
  height: calc(100% - 100px);

  th {
    background: #fafbfc;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    padding: 10px 8px;
    font-size: 13px;
    font-weight: 700;
  }

  td {
    font-size: 13px;
    color: #696666;
    width: 16%;
  }

  tr {
    width: 100%;
    display: inline-block;
  }

  thead,
  tbody {
    display: block;

    th,
    td {
      &:nth-child(1) {
        width: 150px;
      }

      &:nth-child(2) {
        width: 18%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 20%;
      }

      &:nth-child(5) {
        width: 150px;
      }

      &:nth-child(6) {
        width: 150px;
      }

      &:nth-child(7) {
        width: 18%;
      }
    }
  }

  tbody {
    height: calc(100% - 38px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: transparent;
}