
.table {
	margin: 10px 0px;
    th{
      background: #fafbfc;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      padding: 10px 8px;
      font-size: 13px;
      font-weight: 700;
    }
    td {
        font-size: 13px;
        color: #717171;
    }

}
.table-striped tbody tr:nth-of-type(odd) {
	background-color:transparent;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}