<ngb-tabset>
  <ngb-tab title="All Patients">
    <ng-template ngbTabContent>
      <app-patients-table [status]="'all_patients'"></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Waiting">
    <ng-template ngbTabContent>
        <app-patients-table [status]="'waiting'"></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="In Consultation">
    <ng-template ngbTabContent>
      <app-patients-table [status]="'in_consultation'"></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="In Pharmacy">
    <ng-template ngbTabContent>
      <app-patients-table [status]="'in_pharmacy'"></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="In Lab">
    <ng-template ngbTabContent>
      <app-patients-table [status]="'in_lab'"></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Admitted">
    <ng-template ngbTabContent>
      <app-patients-table [status]="'admitted'"></app-patients-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>