<ngb-tabset>
  <ngb-tab title="Waiting">
    <ng-template ngbTabContent>
        <app-patients-table></app-patients-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>In-Consultants</ng-template>
    <ng-template ngbTabContent>
      In-Consultants
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Admitted">
    <ng-template ngbTabContent>
     Admitted
    </ng-template>
  </ngb-tab>
  <ngb-tab title="In patients">
    <ng-template ngbTabContent>
     In patients
    </ng-template>
  </ngb-tab>
</ngb-tabset>