<div *ngIf="isLoggedIn$ | async as isLoggedIn">
  <!-- <div class="area"></div> -->
  <nav class="main-menu">
    <ul>
      <li class="has-subnav" routerLinkActive="active">
        <a  [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav" routerLinkActive="active">
        <a  [routerLink]="['/patients']">
          <i class="fa fa-user-md fa-2x"></i>
          <span class="nav-text">
            Patients
          </span>
        </a>

      </li>
      <li class="has-subnav" routerLinkActive="active">
        <a [routerLink]="['/drugs']">
          <i class="fa fa-wheelchair fa-2x"></i>
          <span class="nav-text">
            Drugs
          </span>
        </a>

      </li>
      <li class="has-subnav" routerLinkActive="active">
        <a [routerLink]="['/calendar']">
          <i class="fa fa-calendar fa-2x"></i>
          <span class="nav-text">
            Calendar
          </span>
        </a>

      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>