.dh-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
  /* box-shadow: 0 0 13px 0 rgba(82,63,105,.05); */
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
}

.dh-widget_header {
  padding: .5rem 0 1.1rem .5rem;
  margin-bottom: .5rem;
}

.dh-widget_title {
  float:left;
  width:calc(100% - 270px);
  h3{
    font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #595d6e;
  }
}

.dh-subheader-toolbar {
  width:270px;
  float:right;
  .btn {
    margin: 0px 5px;
  }
}

.dh-widget_desc {
  display: inline-block;
  margin-top: .2rem;
  color: #74788d;
}

.dh-m-1 {
  display: flex;

  .spark-img {
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    -webkit-box-shadow: rgba(69,65,78,.06) 0 1px 15px 1px;
    box-shadow: rgba(69,65,78,.2) 0 1px 15px 1px;
    border-radius: 5px;
    text-align: center;
    padding: .50rem;

    i {
      font-size:40px;
      color: #00a2e0;
    }
  }
}

.fl-unset {
  flex-direction: unset !important;
}