<div class="block-width">
<p>
  dashboard works!
</p>

<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="example"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal>

<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="example"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="true"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>
<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="exampleTwo"
  [rotateXAxisTicks]="true"
  [showGridLines]="true"
  [showGridLines]="true"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [trimXAxisTicks]="true"
  [maxXAxisTickLength]="16"
  [maxYAxisTickLength]="8"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>
</div>