<ngb-tabset>
  <ngb-tab title="Patient">
    <ng-template ngbTabContent>
      <app-patient-profile></app-patient-profile>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Prescription">
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Prescription content</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="IMR">
    <ng-template ngbTabContent>
      <p>IMR content</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
